<nav class="navbar fixed-top navbar-light navbar-inverse bg-inverse flex-row">
    <a class="navbar-brand mr-auto" [routerLink]="['/']" style="padding-top: .5em">
        CRUD Posts
    </a>
    <ul class="navbar-nav flex-row mr-2 mr-lg-0">
      <li class="nav-item">
        <a class="nav-link pr-3" style="font-size: 2rem;" href="https://www.linkedin.com/in/simon-gonzalez-acosta-ing/" target="_blank">
          <i class="icon icon ion-social-linkedin-outline"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link pr-3" style="font-size: 2rem;" href="https://github.com/sysrock18/" target="_blank">
          <i class="icon icon ion-social-github"></i>
        </a>
      </li>
    </ul>
</nav>

<router-outlet></router-outlet>